*{
  margin: 0;
  padding: 0; 
}


.App{
  background: rgb(243, 156, 18);
  display: flex;
  justify-content: center;
  align-items: center;
  font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  height: 100vh;
  
  -webkit-transition: background-color 500ms linear;
  -ms-transition: background-color 500ms linear;
  transition: background-color 500ms linear;
}

div{
  display: block;
}

#quote-box {
  border-radius: 3px;
  position: relative;
  width: 550px;
  height: fit-content;
  padding: 40px 50px;
  display: table;
  background-color: #fff;
  
}

#text {
  color: rgb(243, 156, 18);
  font-weight: bold;
}

#author{
  color: rgb(243, 156, 18);
  text-align: right;
  font-weight: 100;
}

#tweet-quote{
  color: white;
  background-color: rgb(243, 156, 18);
  margin-top: 30px;
  display: block;
  padding: 8px;
  float: left;
}

.text-right{
  text-align: right;
}

#new-quote{
  color: white;
  background-color: rgb(243, 156, 18);
  border: none;
  border-radius: 3px;
  opacity: 1px;
  padding: 8px 16px;
  margin-top: 30px;
}